body{
    margin: 0;
    padding: 0;
    /* font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}
h1{
    color: #333;
    font-size: 65px;
    position: relative;
}
h1::before{
    content: "";
    padding: 2px;
    background-color: #B97383;
    position: absolute;
    top: 17px;
    bottom: 13px;
    left: -10px;
    
}
h3{
    color: #333;
    font-size: 40px;
}
h4{
    color: #000;
    font-size: 20px;
}
p{
    color: #3E3E3E;
    font-size: 20px;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.focused-area{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.focused-content{
    width: 50%;
    padding: 5% 2%;
}
.focused-title{
    padding-left: 2%;
}
.colorful{
    color: #551FBA;
}
.link-button{
    padding: 13px 42px;
    background-color: #7A3EA5;
    border: none;
    transition: 0.8s;
    border-radius: 10px;
}
.link-button:hover{
    cursor: pointer;
    background-color: #C1787E;
}
.focused-img{
    width: 50%;
}
.focused-img img{
    width: 100%;
}
.mission-area h2{
    text-align: center;
    font-size: 50px;
    color: #13103A;
}
.mission-items{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.mission-item{
    width: 27%;
    padding: 3% 2%;
    background-color: #D1F3F9;
    border-radius: 20px;
}
.mission-item-2{
    background-color: #FEE4CD;
}
.mission-item-3{
    background-color: #BAC3CB;
}
.mission-item img{
    width: 30%;
}
.item-content p{
    font-size: 15px;
    color: #757878;
}
.develop-area{
    background-image: url(./img/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 6%;
    background-position-y: 50%;
    padding: 5% 0;
}
.develop-area-items{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.develop-img{
    width: 40%;
}
.develop-img img{
    width: 100%;
}
.develop-content{
    width: 60%;
    padding: 0 5%;
}
.content-title{
    width: 60%;
}
.community-area{
    background-size: 10%;
    background-position-x: 94%;
    background-position-y: 98%;
}
.community-content{
    padding-left: 0;
}
.community-img img{
    width: 100%;
}
.projects{
    text-align: center;
    margin-bottom: 2%;
}
.project-content{
    display: flex;
    justify-content: space-around;
}
.project-img{
width: 50%;
}
.project-img img{
    width: 100%;
    }
.project-details{
    width: 35%;
    padding: 5% 0;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.project-details p{
    text-align: justify;
    padding: 0 2%;
}
.colorfully{
    color: #586E80;
}
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 1% 0;
}
footer h3{
    color: #fff;
    font-style: italic;
    font-weight: 700;
    /* font-family: 'Playfair Display', serif; */
}
footer p{
    font-size: 15px;
    color: #B1B3BA;
}